:root {
    --framePadding: 10px;
    --innerSize: calc(100% - (var(--framePadding) *2));
    --inneSizeAbsolute: calc(100% - (var(--framePadding) *2));
    --frameSize: calc((var(--innerSize) - 20px));
    --animTimes: 2.0s;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    background-image: url(../img/bg03.png);
    background-size: 38%;
    background-repeat: repeat;
    /* TBカリグラゴシック Std */
    font-family: tbcgothic-std, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 0;
}

._height {
    height: 100vh;
}

#wrapper {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
}

.logoMain {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 100%;
}

.logoMain#logoTop {
    top: 1%;
    left: 50%;
}

.logoMain>#logoTopImg {
    position: absolute;
    width: 105%;
    transform: translate(-50%, -0%);
    left: 51%;
}

.logoMain#logoBottom {
    padding-bottom: 46%;
    bottom: 0%;
    left: 50%;
}

.logoMain>#logoBottomImg {
    position: absolute;
    transform: translate(-50%, -0%);
    width: 108%;
    left: 45%;
}

#uploadBtn,
#submitInput {
    display: none;
}

#btnWrapper {
    z-index: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    display: block;
    padding: 20px;
    width: calc(30% + 0.4vh);
}

#btnWrapper>#btnBg {
    z-index: -1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    width: 150%;
}

#btnWrapper>#btnText {
    z-index: 0;
    position: absolute;
    transform: translate(-50%, -100%);
    top: -2%;
    left: 50%;
    display: block;
    width: 100%;
}

#btnWrapper>#btnArrows {
    z-index: 0;
    position: absolute;
    transform: translate(100%, 0%);
    top: -5%;
    right: 3%;
    display: block;
    width: 18%;
}

#btnWrapper>#btnCamera {
    z-index: 1;
    display: block;
    width: 100%;
}


#viewWrapper {
    z-index: 5;
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.0;
    transition: 2.0s;
}

#uploadView {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    margin: auto;
    width: calc(100% - 4.0rem);
    background-color: rgba(255, 105, 180, 1.0);
    background-color: rgba(229, 50, 140, 1.0);
    background-color: #e5328c;
    border-radius: 0.8rem;
}

#uploadView #cancelIcon {
    position: absolute;
    transform: translate(0%, 0%);
    top: -2.4rem;
    right: .0rem;
    right: .0rem;
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 50%;
    background-color: #e5328c;
    background-color: #88A80D;
    background: #fff;
    /* box-shadow: 0 2px 5px rgba(229, 50, 140, 0.3); */
}

#cancelIcon .cancelCross {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background: #fff;
    background: #e5328c;
    border-radius: 2px;
}

#cancelIcon .cancelCross._01 {
    transform: translate(-50%, -50%) rotate(45deg);
}

#cancelIcon .cancelCross._02 {
    transform: translate(-50%, -50%) rotate(-45deg);
}


#uploadView p {
    font-size: 2.1rem;
    line-height: 3.6rem;
}

#uploadImgCont {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.6rem auto 1.6rem;
    width: 24.0rem;
    height: 21.0rem;
}

#uploadImgFrame {
    position: relative;
    max-width: calc(var(--innerSize));
    max-height: calc(var(--innerSize));
    display: inline-block;
    padding: var(--framePadding);
    background-color: aqua;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: auto;
    height: auto;
    animation: 2.0s ease-in .5s infinite forwards;
    /* animation: 4.0s ease-in .5s 1 forwards; */
}

@keyframes animPopImgWidth {

    0%,
    50% {
        width: calc(var(--frameSize));
    }

    52% {
        width: calc(var(--frameSize) - (var(--innerSize) / 4));
    }

    56% {
        width: calc(var(--innerSize));
    }

    74%,
    100% {
        width: calc(var(--frameSize));
    }
}

@keyframes animPopImgHeight {

    0%,
    50% {
        height: calc(var(--frameSize));
    }

    52% {
        height: calc(var(--frameSize) - (var(--innerSize) / 4));
    }

    56% {
        height: calc(var(--innerSize));
    }

    74%,
    100% {
        height: calc(var(--frameSize));
    }
}

#uploadImg {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

#uploadLine {
    background-color: #fff;
    width: 8.0rem;
    height: 0.3rem;
    border-radius: calc(0.3rem / 2);
    margin: 0 auto;
}


#uploadView p {
    text-align: center;
    margin: 2.4rem 0 4.0rem;
    color: #fff;
}

#uploadView span {
    display: inline-block;
    /* background-color: #fff; */
    /* color: #e5328c; */
    margin-top: .4rem;
    padding: 0 .4rem;
}

#uploadView span:nth-child(1) {
    margin-top: .0rem;
}

#submitWrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 0.8rem 0.8rem;
}

#submitWrapper label {
    display: inline-block;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 0.2rem;
    padding: 2.0rem 0;
}

#submitWrapper #submitBtn {
    order: 2;
    width: 60%;
    width: 100%;
    background: #fff;
    color: #E5328C;
}

#submitWrapper #cancelBtn {
    display: none;
    order: 1;
    width: 40%;
    background: #88A80D;
    color: #fff;
}