/* #viewWrapper {
    display: block;
    opacity: 1.0;
}

#uploadImgFrame,
#uploadImg {
    width: auto;
    height: 100%;
} */

:root {
    --grad01: #fff;
    --grad02: #000;
}


#fadeWrapper {
    position: absolute;
    overflow: hidden;
    top: calc(0% + var(--framePadding));
    left: calc(0% + var(--framePadding));
    width: var(--inneSizeAbsolute);
    height: var(--inneSizeAbsolute);
    opacity: 1.0;
    mix-blend-mode: lighten;
    background-color: #000;
}

#fadeCont {
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
    left: 50%;
    width: 300%;
    height: 400%;
}

._fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1000%;
    height: 1000%;
    margin-top: auto;
    background: -moz-linear-gradient(var(--grad01), var(--grad02));
    background: -webkit-linear-gradient(var(--grad01), var(--grad02));
    background: linear-gradient(var(--grad01), var(--grad02));
    /* animation: 2.0s ease-in .5s normal forwards; */
    animation: 2.0s ease-in .5s infinite;
    mix-blend-mode: screen;
    /* mix-blend-mode: hard-light; */
    /* mix-blend-mode: overlay; */
}

#fadeWrapper._c00 ._fade {
    background: -moz-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%, #748af8);
    background: -webkit-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%, #748af8);
    background: linear-gradient(to bottom, #FFF, #FFC778 30%, #F89174 60%, #748af8);
}

#fadeWrapper._c01 {
    --grad01: #b30d6f;
    --grad02: #2e3192;
}

#fadeWrapper._c02 {
    --grad01: #2e3192;
    --grad02: #ff69b4;
}

#fadeWrapper._c03 {
    --grad01: #ff69b4;
    --grad02: #f4d444;
}

#fadeWrapper._c04 {
    --grad01: #f4d444;
    --grad02: #88a80d;
}

#fadeWrapper._c05 {
    --grad01: #88a80d;
    --grad02: #b30d6f;
}



._fade#_01 {
    animation-name: mix_01;
    height: 0%;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    mix-blend-mode: lighten;
}

@keyframes mix_01 {

    0%,
    40% {
        opacity: 0.7;
        height: 0%;
    }

    80%,
    100% {
        opacity: 1.0;
        height: 100%;
    }
}

._fade#_02 {
    animation-name: mix_02;
    height: 5%;
}

@keyframes mix_02 {

    0%,
    20% {
        opacity: 0.7;
        bottom: 0;
        background: var(--grad01);
    }

    60%,
    100% {
        opacity: 1.0;
        bottom: 100%;
        background: var(--grad02);
    }
}

._fade#_03 {
    animation-name: mix_03;
    height: 2%;
}

@keyframes mix_03 {

    0%,
    0% {
        opacity: 0.7;
        bottom: 0;
        background: var(--grad01);
    }

    60%,
    100% {
        opacity: 1.0;
        bottom: 100%;
        background: var(--grad02);
    }
}

._fade#_04 {
    animation-name: mix_04;
    height: 10%;
}

@keyframes mix_04 {

    0%,
    40% {
        opacity: 0.7;
        bottom: 0;
        background: var(--grad01);
    }

    100%,
    100% {
        opacity: 1.0;
        bottom: 100%;
        background: var(--grad02);
    }
}

._fade#_05 {
    animation-name: mix_05;
    height: 10%;
}

@keyframes mix_05 {

    0%,
    20% {
        opacity: 0.7;
        bottom: 0;
        background: var(--grad01);
    }

    80%,
    100% {
        opacity: 1.0;
        bottom: 100%;
        background: var(--grad02);
    }
}